<footer class="blog-footer">
	<div class="container">
		<p class="mute">Network for students, graduates and employers that delivers a 180 degree turnaround of the recruitment process.</p>
		<ul class="metaList">
			<li><a href="https://magnet.me/?utm_source=magnetblog&utm_medium=link&utm_content=footer&utm_campaign=blog">Magnet.me</a></li>
			<li><a href="#">Back to top</a></li>
			<li><a href="https://magnet.me/public/?utm_source=magnetblog&utm_medium=link&utm_content=footer&utm_campaign=blog#/organization/magnet.me/about">About us</a></li>
			<li><a href="https://magnet.me/terms-of-service.html">Terms of service</a></li>
			<li><a href="https://magnet.me/privacy-policy.html">Privacy policy</a></li>
			<li><a href="mailto:info@magnet.me">Contact us</a></li>		
			<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
		</ul>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/vendor/rrssb.min.js" type="text/javascript"></script>