<footer class="blog-footer">
	<div class="container">
		<p class="mute">Network for students, graduates and employers that delivers a 180 degree turnaround of the recruitment process.</p>
		<ul class="metaList">
			<li><a href="https://magnet.me">Magnet.me B.V.</a></li>
			<li><a href="#">Back to top</a></li>
			<li><a href="https://magnet.me/public/#/organization/magnet.me/about">About us</a></li>
			<li><a href="https://magnet.me/terms-of-service.html">Terms of service</a></li>
			<li><a href="https://magnet.me/privacy-policy.html">Privacy policy</a></li>
			<li><a href="mailto:info@magnet.me">Contact us</a></li>		
			<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
		</ul>
	</div>
</footer>