<header class="page-header">
      <div class="container">
      	<a class='logo' href="/">
      		<img src="/images/magnet_white_logo_2x.png">
      	</a>
        <div class="toMagnetContainerLarge">
	    	<a class="btn btn-primary toMagnetMe" href="https://magnet.me/?utm_source=magnetblog&utm_medium=link&utm_content=header&utm_campaign=blog">Go to Magnet.me</a>
		</div>
	</div>
</header>
<div class="mobileSubHeader visible-xs-block">
	<a class="btn btn-link btn-block toMagnetMe" href="https://magnet.me/?utm_source=magnetblog&utm_medium=link&utm_content=mobileheader&utm_campaign=blog">Go to Magnet.me</a>
</div>