.blog-list {
	
	.coverPreview {
		margin-bottom: 12px;
	}

	.readOn {
		display: block;
		margin-bottom: 9px;
	}

	footer .tags {
		color: $gray-medium;
		a {
			color: $gray-medium;
			text-transform: lowercase;
			font-weight:500;
			
			&:before{
				content: "#";
			}
		}
	}
}