@mixin cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/* IE < 9 hack */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.defaultPage {
	.page-header {
		background: url(https://newevolutiondesigns.com/images/freebies/space-wallpaper-1.jpg) no-repeat center; 
		@include cover;

		margin: 0px;
		height: 300px; 
		position: relative;

		.logo > img {
			height: 80px;
			margin-top: 150px;
		}

		.toMagnetMe {
			margin-top: 12px;		
		}
	}
}

.postPage {

	.navbar {
		background-color: $white;
		.navbar-brand {
			padding: 7px;
			img {
				height: (74px/2)
			}
		}

		a.btn {
			margin: 7px;
		}
	}

	.body-push-down {
		height: 51px;
	}

	.page-header {
		@include cover;
		background-repeat: no-repeat;
    	background-position: center;
		height: 450px;

		margin: 0px;
		padding: 0px;

		color: $white;

		position: relative;

		.headerContent {
			position: absolute;
			bottom: 3px;

			h1, a, a[href] {
				color: $white;
				text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
			}

			h1 {
				font-size: 44px;			
			}
		}
	}
}

.share-buttons{
	list-style: none;
	padding: 0px;
	margin: 30px 0px;
}

.share-buttons li{
	display: inline;
}

/*
* Blog name and description
*/

.blog-header {
	padding-top: 20px;
	padding-bottom: 20px;
}
.blog-title {
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 60px;
	font-weight: normal;
}
.blog-description {
	font-size: 20px;
	color: #999;
}


/*
* Main column and sidebar layout
*/

.blog-main {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 27px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 15px;
	margin: 0 -15px 15px;
}
.sidebar-module-inset {
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}


/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}


/*
* Blog posts
*/

.blog-post {
	margin-bottom: 60px;

	.post-meta {
		font-size: 16px;
	}
}
.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px;	
}
.blog-post-meta {
	margin-bottom: 20px;
	color: #999;
}


/*
* Footer
*/

.blog-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}