@mixin cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/* IE < 9 hack */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

@import "layoutComponents";
@import "defaultPage";
@import "postPage";
@import "shareButtons";
@import "aside"


/**
Gradient cover
Search offset en padding

*/