.defaultPage {
	.page-header {
		background: url(https://newevolutiondesigns.com/images/freebies/space-wallpaper-1.jpg) no-repeat center; 
		@include cover;

		margin: 0px;
		height: 300px; 
		

		.logo > img {
			height: 80px;
			margin-top: 150px;
		}

		.toMagnetMe {
			margin-top: 12px;		
		}

		.container {
			position: relative;
			height: 100%;

			.toMagnetContainerLarge {
				@extend .hidden-print;
				@extend .visible-lg-block;
				@extend .visible-md-block;
				@extend .visible-sm-block;

				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		
		@media (max-width: $screen-md-min) {
			height: 200px; 

			.logo > img {
				height: 80px;
				margin-top: 90px;
			}
		}

		@media (max-width: $screen-sm-min) { 
			height: 100px; 

			.logo > img {
				height: 50px;
				margin-top: 27px;
			}
		}
	}

	.mobileSubHeader {
		background-color: $gray-light;
		text-align: center;
		font-size: 12px;
		padding: 9px;
	}
}