.tag-page {
	.tag-cloud {
		margin: 27px 0px 38px;
	}
}

/*
* Blog name and description
*/
.blog-header {
	padding-top: 20px;
	padding-bottom: 20px;
}
.blog-title {
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 60px;
	font-weight: normal;
}

.blog-description {
	font-size: 20px;
	color: #999;
}


/*
* Main column and sidebar layout
*/
.blog-main {
	font-size: 16px;
	line-height: 1.7;
	margin-top: 27px;
	
	footer{
		width:80%;
		display: block;
		margin: 27px 0;
	}
}




/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}


/*
* Blog posts
*/

.blog-post {
	margin-bottom: 60px;

	.post-meta {
		font-size: 16px;
		color: $gray-medium;
		padding-bottom: 4px;
	}

	.post-header {
		a:hover {
			text-decoration: none;			
		}		 
	}
}

.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px;	
}

.blog-post-meta {
	margin-bottom: 20px;
	color: #999;
}


/*
* Footer
*/

.blog-footer {
	padding: 40px 0;
	color: $gray-medium;

	a {
		color: $gray-medium;		
	}

	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;

	p:last-child {
		margin-bottom: 0;
	}

	ul.metaList {
		font-size: 12px;
		list-style: none;
		text-align: center;
		padding: 0px;
		margin: 0px;
		padding-top: 9px;

		li {
			display: inline-block;
			padding: 0 18px;
			border-left: 0 solid #ccc;			
		}
	}
}

.post-content {
	p {
		margin-bottom: 27px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		
		&.lead{
			line-height: 1.6;
		}
		
		&:first-child{
			font-weight:500;	
		}
	}
}

.tag-cloud {
	a {
		display: block;
		padding: 1px 0;
		text-transform: lowercase;

		&:before{
			content: "#";
		}
	}
}